body{
    margin: 0;
    font-family:"Comic Sans MS",'sans-serif';
}


/* nav bar*/


/*Asidebar*/

/*asidebar*/

body {
    font-family:
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    margin-top: 4%;
    top: 0;
    left: 0;
    background-color: black;
    overflow-y: scroll;
    padding-top: 20px;
    opacity: 0.9;

}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: black;
    position: relative;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    ;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color:black;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: white;
    padding-left: 8px;
    color: black;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.shield {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.25);
    top: 0;
    left: 0;
    font-family: sans-serif;
}

.modal {
    position: absolute;
    bottom: 59%;
    border: 1px solid slategray;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
    width: 99%;
    margin-left: 4px;
    border-radius: 8px;
}

.modal .header {
    padding: 8px 12px;
    position: relative;

}

.modal .header .buttons {
    position: absolute;
    right: 0;
    top: 9px;
}

.modal .header .buttons .fa-window-minimize {
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
}
.modal .header .buttons .fa-window-maximize{
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
}

.modal .header .buttons span:hover {
    background: #eee;
}

.content {

    height: 150px;



}

/* 2nd window*/
.modall {
    position: absolute;
    bottom: 28%;
    border: 1px solid slategray;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
    width: 99%;
    margin-left: 2px;
    border-radius: 8px;

}

.modall .headerr {
    padding: 8px 12px;
    position: relative;
}

.modall .headerr .buttonss {
    position: absolute;
    right: 0;
    top: 9px;
}

.modall .headerr .buttonss .fa-window-minimize {
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
}
.modall .headerr .buttonss .fa-window-maximize{
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
}

.modall .headerr .buttonss span:hover {
    background: #eee;
}

.contentt {

    height: 150px;



}
/*3rd window*/
.modalll {
    position: absolute;
    bottom:1%;
    border: 1px solid slategray;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
    width: 99%;
    margin-left: 2px;
    overflow-y: scroll;
    border-radius: 8px;

}

.modalll .headerrr {
    padding: 8px 12px;
    position: relative;

}

.modalll .headerrr .buttonsss {
    position: absolute;
    right: 0;
    top: 9px;
}
.modalll .headerrr .buttonsss .fa-window-minimize {
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
}
.modalll .headerrr .buttonsss .fa-window-maximize{
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
}



.modalll .headerrr .buttonsss span:hover {
    background: #eee;
}

.contenttt {

    height: 120px

}

/* for input file*/
#btn{
    position:  absolute;
    left: 10px;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 150px;

    border-radius: 4px;
    padding: 5px;
    color:black;
}
#div1 :hover{
    color: white;}

.w3-yellow{
    height: 60px;
    font-size: 40px;


}
.dropdown{
    right: 0;
}

#leftMenu{
    background-color: black;
    color: #999999;
}
#close{
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:black;
}

/*form Css*/
input[type="file"] {
    z-index: -1;
    position: absolute;
    opacity: 0;
}

input:focus + label {
    outline: 2px solid;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    bottom: 25%;
    height:50;
    right: 38%;
    border: 1px solid black;
    z-index: 9;
    border-radius: 9px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 5px;
    background-color: white;
    background-color: #999999;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password],input[type=number] {
    width: 100%;
    padding: 2px 2px;
    margin: 5px 0 22px 0;
    border: 1px solid black;
    background: #f1f1f1;
    border-radius: 5px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-right: 63px;
    border-radius: 5px;
}




/* Add some hover effects to buttons */
.form-container .btn:hover .btn1:hover  .open-button:hover {
    opacity: 1;
}

#close{
    float:right;
}
#myForm{
    border:1px solid black;
}
.navbar1 {
    overflow: hidden;
    background-color:#ffeb3b;
    height:62px;
    font-family: Arial, Helvetica, sans-serif;
    width:50%;
    float:right;
  }
  
  .navbar1 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 26px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-right: 80px;
    widows: 50px;
  }
  
  .navbar1 a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    min-width: 30px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #btn1{
    position:  relative;
    left: 10;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 80px; 
    height:35px;

    background: rgba(128, 121, 121, 0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 3px;
    
 } 
 #closei{
    position:  relative;
    left: 10;
    width: 20px;
    height:35px;
    float:right;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
      
 } 
 #mydiv{
    width: 95px; 
    height:35px;
    background: rgba(128, 121, 121, 0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 3px;
      
 } 
 .droptarget {
    width:100%;
    height:190px;
    margin-right: 0%;
    position: absolute;
    bottom: 0%;
    border: 1px solid slategray;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
    width: 99%;
    margin-left: 2px;
    border-radius: 8px;

   
}


/*body {
    text-align: center;
}
/*#wrapper {
    text-align: left;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
*/

#options{
	width: 200px;
	height:150px;
	border:1px solid black;
	float:left;
}

/*#frame{
	width:253px;
	height:70px;
	/*background-image: url("../images/UK-Map.gif");
	background-repeat: repeat-y;
    	background-position: 0 0;
    	border:1px solid black;
    	float:right;
}
*/

#drag7{
    
    left: 10;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 70px; 
    height:35px;

    background: rgba(128, 121, 121, 0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 3px;
    
 }

 #drag1{
    
    left: 10;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 70px; 
    height:35px;

    background: rgba(128, 121, 121, 0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 3px;
    
 }

 #drag2{
    
    left: 10;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 70px; 
    height:35px;

    background: rgba(128, 121, 121, 0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 3px;
    
 }



.ui-draggable-helperMoving {
	border: 1px dotted #000;
	padding: 6px;
	background: #fff;
	font-size: 1.2em;
	width:100px;
	height:100px;
}

.ui-draggable-helperStoped {
	border: 1px solid #000;
	width:5px;
	height:5px;
}



/* classes for dragged stuff */
.dragged7 {
	position:absolute; 
	
	
    left: 10;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 70px; 
    height:45px;

    background: rgba(128, 121, 121, 0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 3px;
    
}
.dragged2 {
	position:absolute; 
	
	
    left: 10;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 70px; 
    height:35px;

    background: rgba(128, 121, 121, 0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 3px;
    
}
.dragged1 {
	position:absolute; 
	
	
    left: 10;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 70px; 
    height:35px;

    background: rgba(128, 121, 121, 0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 3px;
    
}


#element{
	border:1px solid red
}